@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 19%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --clock-color: hsl(240deg 10% 16%);
}

footer {
  display: flex;
  margin-top: 15px;
}

/*---Dark theme---*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
  height: 100vh;
  flex-direction: column;

  color: var(--text-color);
}

.dark {
  --title-color: hsl(var(--hue-color), 12%, 95%);
  --text-color: hsl(var(--hue-color), 12%, 75%);
  --body-color: hsl(var(--hue-color), 10%, 16%);
}

.clock {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 19px -5px var(--first-color);
  border-radius: 50%;
  position: relative;
}
.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
}
.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotate: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  z-index: 10;
  transform-origin: bottom;
  border-radius: 40px 40px 0% 0%;
  transform: translateX(-5px) rotate(calc(var(--rotate) * 1deg));
}
.clock::before {
  right: 47%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--text-color);
  display: block;
  position: absolute;
  border-radius: 50%;
  z-index: 11;
  bottom: 46%;
}
.clock .second {
  width: 4px;
  height: 43%;
  background-color: red;
}
.clock .minute {
  z-index: 10;
  width: 6px;
  height: 38%;
  background-color: var(--text-color);
}
.clock .hour {
  width: 8px;
  height: 34%;
  background-color: var(--text-color);
}

/*-----Night mode-----*/

.btn-mode {
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top: 115px;
  right: 244px;
  transition: all 0.3s ease;
}
.btn-mode:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 1px 1px var(--text-color);
}
